# Visual Studio 관련 파일/폴더 무시
.vs/
*.suo
*.user
*.VC.db
*.VC.VC.opendb

# 빌드 결과물 무시
bin/
obj/
*.exe
*.pdb
*.ilk
*.log

# DLL 파일 무시
*.dll
*.lib

# 빌드 결과물 무시
/bin/*
!/bin/data/
/bin/data/*
!/bin/data/**

# 임시/백업 파일 무시
*.tmp
*.bak

# 시스템 파일 무시
.DS_Store
Thumbs.db
desktop.ini

# 크래시 덤프 무시
*.dmp